@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/styles.css");

@import url("../../assets/css/font-awesome.min.css");
@import url("../../assets/css/datepicker3.css");

.margin-top {
  margin-top: 50px;
}
.employee_list {
  // border: 1px solid #eee;
  padding: 0 20px 20px;
  background-color: #fff;

  &-title {
    margin: 0 -20px;
    padding: 10px 15px !important;
    background-color: #1c5383;
    h4 {
      font-weight: 500;
      color: #fff;
    }
  }
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  li {
    padding: 0;
    border: 0;
    margin-bottom: 0;
    position: relative;
    border-radius: 0;

    &:last-child {
      border-radius: 0 !important;
    }
    &:first-child {
      margin-bottom: 20px;
    }
    &:not(:first-child) {
      border-bottom: 1px solid #eee;
    }
    &.active {
      background-color: #f4f4f4;

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #1aaa95;
        border-radius: 50px;
        right: 15px;
        top: 30px;
      }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   width: 0;
      //   height: 0;
      //   border-top: 27px solid transparent;
      //   border-left: 10px solid #3b8dd4;
      //   border-bottom: 27px solid transparent;
      //   right: -10px;
      // }

      // a {
      //   color: #fff;
      // }
    }

    a {
      width: 100%;
      display: block;
      padding: 15px 10px;
      color: #333;
    }
    a:hover,
    a:active {
      text-decoration: none;
    }
  }
}
.emp_total {
  // margin-bottom: 50px;
  &-container {
    padding: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  &-workdays {
    background-color: #f15b26;
  }
  &-leaves {
    background-color: #fcb03b;
  }
  &-salary {
    background-color: #3cb878;
  }
  &-icon {
    width: 30%;
    font-size: 40px;
  }
  &-details {
    width: 70%;

    h3 {
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 30px;
      margin-top: 10px;
    }
  }
  &-count {
    // font-weight: 500;
    // font-size: 34px;
    font-size: 22px;
  }
}

.roleClass {
  font-size: 10px;
  color: #8e8c8c;
}
