<div class="panel panel-default articles main_panel_container">
  <div class="panel-body articles-container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="list-group employee_list">
          <li class="list-group-item employee_list-title">
            <h4>Employees</h4>
          </li>
          <li class="list-group-item employee_list-search">
            <input
              type="text"
              name="searchName"
              id="searchName"
              [(ngModel)]="searchName"
              class="form-control"
              placeholder="Search By Name/Role"
            />
          </li>
          <li
            class="list-group-item"
            *ngFor="let emp of (empList | empSearch: { name: searchName })"
            [ngClass]="{ active: emp.id == empId }"
          >
            <a href="javascript:void(0)" (click)="setEmployee(emp.id)">
              <img
                src="{{
                  emp.image
                    ? imageShowUrl + emp.image
                    : '../../assets/img/male_face.jpg'
                }}"
                class="img-circle"
                alt=""
              />
              <div class='empText'>
                {{ emp.firstName + " " + emp.lastName }}
                <span class="roleClass">{{ emp.role }}</span>
              </div>
            </a>
          </li>
          <!-- <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li> -->
        </ul>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="row emp_total">
          <div class="col-md-4">
            <div class="emp_total-workdays emp_total-container">
              <div class="emp_total-icon"><i class="fas fa-briefcase"></i></div>
              <div class="emp_total-details">
                <h3>Total Working Days</h3>
                <div class="emp_total-count">{{ workingDays }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="emp_total-container emp_total-leaves">
              <div class="emp_total-icon">
                <i class="fas fa-user-minus"></i>
              </div>
              <div class="emp_total-details">
                <h3>Total Leaves Took</h3>
                <div class="emp_total-count">{{ leavesofMonth }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="emp_total-container emp_total-salary">
              <div class="emp_total-icon">
                <i class="fas fa-rupee-sign"></i>
              </div>
              <div class="emp_total-details">
                <h3>Total Salary</h3>
                <div class="emp_total-count">
                  {{ salaryofMonth | currency: "₹":0 }} <span>Rs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-calendar
          *ngIf="empId"
          [calenderUserId]="empId"
          (monthChange)="calenderChanged($event)"
        ></app-calendar>
      </div>
    </div>
  </div>
</div>
