@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/styles.css");

@import url("../../assets/css/font-awesome.min.css");
@import url("../../assets/css/datepicker3.css");
.margin-top {
  margin-top: 50px;
}
.timeFont {
  font-size: 36px;
  top: 25px;
  text-align: center;
  z-index: 5;
  width: 100%;
  position: absolute;
}
.btn-circular {
  width: 100px;
  border-radius: 55%;
  height: 100px;
}
.punch_container {
  width: 60%;
  position: relative;
  display: table;
  margin:30px auto 0;
}
.punch_in {
  float: left;
  position: relative;
  z-index: 9;
}
.punch_out {
  float: right;
  position: relative;
  z-index: 9;
}
