@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/styles.css");

@import url("../../assets/css/font-awesome.min.css");
@import url("../../assets/css/datepicker3.css");

.profile-update table tr td{
    border: none;
}
.profile-update table tr td:first-child{
    width: 200px;
}
.profile-update table tr td input.form-control, .profile-update table tr td textarea.form-control{
    width: 300px;
}