<div class="loadingClass" *ngIf="isLoading">
  <i class="fa fa-refresh fa-spin icon_size icon_pos"></i>
</div>
<div class="row calender_component_wrap">
  <div class="col-md-9">
    <div class="panel panel-default articles calendar_panel_container">
      <div class="panel-body articles-container">
        <div class="">
          <div class="row">
            <div class="col-md-4">
              <a href="javascript:void(0);" (click)="prevMonth()" class="calender_controls"><i
                  class="fas fa-angle-left"></i>
              </a>
            </div>
            <div class="col-md-4 timeFont">
              {{ months[date.getMonth()] }} - {{ date.getFullYear() }}
            </div>
            <div class="col-md-4" style="text-align: right">
              <a href="javascript:void(0);" (click)="nextMonth()" class="calender_controls"><i
                  class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="wrapper">
            <div class="calendar-box sundayClass">Sun</div>
            <div class="calendar-box ">Mon</div>
            <div class="calendar-box ">Tue</div>
            <div class="calendar-box ">Wed</div>
            <div class="calendar-box">Thu</div>
            <div class="calendar-box">Fri</div>
            <div class="calendar-box">Sat</div>
            <div class="calendar-box" *ngFor="let blanks of preBlanks"></div>
            <div class="calendar-box" *ngFor="let day of monthArray" [ngClass]="{
                presentClass: day.data,
                leaveClass: day.leave,
                absentClass:
                  day.empWasOnLeave &&
                  (preBlanks.length + day.day - 1) % 7 !== 0,
                sundayClass: (preBlanks.length + day.day - 1) % 7 == 0,
                applied_leaveClass: day.appliedLeave,
                approved_leaveClass: day.approvedLeave,
                paid_leaveClass: day.firstLeave
              }">
              <div class="showday">
                {{ day.day }}
              </div>
              <div *ngIf="day.data" class="day_tooltip">
                <span class="timings">Start Time : {{ day.data.formatedStartTime }}</span>
                <br />
                <span *ngFor="let sub of day.data.SubTimings; let i = index">
                  <span class="timings">
                    &nbsp; PunchIn {{ i + 1 }}: {{ sub.startFormatedTime }}
                  </span>
                  <br />

                  <span class="timings">
                    &nbsp; PunchOut {{ i + 1 }}: {{ sub.endFormatedTime }}
                  </span>
                  <br />
                </span>
                <span class="timings">End Time : {{ day.data.formatedEndTime }}</span><br />
                <span class="timings">Total : {{ day.data.totalTiming }}</span>
              </div>
              <div *ngIf="
                  day.leave ||
                  day.appliedLeave ||
                  day.approvedLeave ||
                  day.rejectedLeave
                " class="day_tooltip">
                <span class="timings">{{ day.leaveReason }}</span>
              </div>
              <!-- <span *ngIf="day.leave">leave Day</span> -->
            </div>
            <!-- <div class="calendar-box" *ngFor="let blanks of lastBlanks"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="calender_legend">
      <h2>Color Legend for Calendar</h2>
      <div class="row calender_legend-container">
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box sundayClass"></div>
            <div class="color_info">Sunday</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box presentClass"></div>
            <div class="color_info">Employee present that day</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box leaveClass"></div>
            <div class="color_info">Holiday</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box applied_leaveClass"></div>
            <div class="color_info">
              Waiting for leave approval
            </div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box halfday_leaveClass"></div>
            <div class="color_info">Half day leave</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box absentClass"></div>
            <div class="color_info">Unapproved leave</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box approved_leaveClass"></div>
            <div class="color_info">Approved leave</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box paid_leaveClass"></div>
            <div class="color_info">Approved Paid leave</div>
          </div>
        </div>
        <div class="col-lg-12 legend-wrap">
          <div class="legend">
            <div class="color_box absentClass"></div>
            <div class="color_info">Unpaid leave</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>