@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/styles.css");

@import url("../../assets/css/font-awesome.min.css");
@import url("../../assets/css/datepicker3.css");

.panel.panel-default.articles {
  box-shadow: none;

  .timeFont {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .calender_controls {
    padding: 0px 20px;
    // background-color: turquoise;
    // color: #fff;
    font-size: 28px;
  }
  .calender_controls:hover {
    color: #729ab9;
  }
  .sundayClass {
    background-color: #ff002466;
  }
  .panel-body {
    padding: 15px 0 0;
  }
}
.calendar-box:hover .day_tooltip {
  display: block;
}
.day_tooltip {
  position: absolute;
  top: -90px;
  background-color: #eee;
  padding: 10px 20px;
  width: 220px;
  transition: all 0.3s;
  display: none;
  color: #000000;
  z-index: 999;
}
.day_tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #eee;
  bottom: -10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // grid-gap: 10px;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
}

.calendar-box {
  border-right: solid 1px #eee;
  padding: 10px 0 10px 8%;
  font-size: 20px;
  border-bottom: solid 1px #eee;
  position: relative;
}

.preClass {
  width: 50%;
  float: left;
}

.nextClass {
  width: 50%;
  float: right;
}

.showday {
  margin: 15%;
}
.timings {
  font-size: 14px;
}

.timeFont {
  text-align: center;
  font-size: 18px;
}
.margin-top {
  margin-top: 50px;
}
.leaveClass,
.notifyClass {
  background-color: #fcb03b !important;
  color: #fff;
}

.sundayClass {
  background-color: #bbbbbb !important;
  color: #fff;
}
.presentClass {
  background-color: #21b95eb3;
  color: #fff;
}
.absentClass {
  background-color: #db4b4be6;
  color: #fff;
}

.loadingClass {
  z-index: 20;
  width: 96%;
  background-color: #5f5c5c5c;
  position: absolute;
  height: 74%;
}
.icon_pos {
  margin-top: 36%;
  margin-left: 50%;
}
