<div class="row">
  <div
    class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-3"
  >
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Forget Password</div>
      <div class="panel-body">
        <div class="invalid-feedback">{{ ErrorMessage }}</div>
        <div class="valid-feedback">{{ SuccessMessage }}</div>
        <form
          role="form"
          [formGroup]="registerForm"
          *ngIf="!showoupdateForm"
          (ngSubmit)="onSubmit()"
        >
          <fieldset>
            <div class="form-group">
              <input
                class="form-control"
                formControlName="email"
                placeholder="E-mail"
                name="email"
                type="email"
                autofocus=""
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>

            <div class="checkbox">
              <label>
                <a routerLink="login" title="Login">Login</a>
              </label>
            </div>
            <!-- <a href="index.html" class="btn btn-primary">Login</a> -->
            <input type="submit" class="btn btn-primary" value="Send Mail" />
          </fieldset>
        </form>
        <form
          role="form"
          [formGroup]="forgetPassword"
          *ngIf="showoupdateForm && !invalidLink"
          (ngSubmit)="resetPassword()"
        >
          <fieldset>
            <div class="form-group">
              <input
                class="form-control"
                formControlName="password"
                placeholder="New Password"
                autofocus=""
                type="password"
              />
              <div
                *ngIf="submitted && reset.password.errors"
                class="invalid-feedback"
              >
                Please Enter Password
              </div>
            </div>
            <div class="form-group">
              <input
                class="form-control"
                formControlName="cpassword"
                placeholder="Confirm Password"
                autofocus=""
                type="password"
              />
              <div
                *ngIf="submitted && reset.cpassword.errors"
                class="invalid-feedback"
              >
                Please Enter Confirm Password
              </div>
              <div *ngIf="missmatch" class="invalid-feedback">
                Password Missmatch!!
              </div>
            </div>
            <div class="checkbox">
              <label>
                <a routerLink="login" title="Login">Login</a>
              </label>
            </div>
            <input
              type="submit"
              class="btn btn-primary"
              value="Reset Password"
            />
          </fieldset>
        </form>
        <div *ngIf="invalidLink">
          <div class="invalid-feedback">
            Invalid Link!!!!
          </div>

          <div class="checkbox">
            <label>
              <a routerLink="login" title="Login">Login</a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
